<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="activities?.length == 0">
        <ion-card-content text-center>
            No history
        </ion-card-content>
    </ion-card>

    <ion-list *ngIf='activities'>
      <ion-item-sliding *ngFor="let item of activities | async" #slidingItem>
        <ion-item style='background-color: white' [href]="'/activity/' + item.id">
            <ion-avatar slot="start">
                <img [src]="item.img">
            </ion-avatar>
            <ion-label>
                <h2 text-wrap>{{item.title}}</h2>
                <h3>{{item.totalTime}}</h3>
                <p>{{item.distance | number:'1.1-1'}}km</p>
            </ion-label>
            <p class="theTime">
                {{item.date | relativeTime}}
            </p>
        </ion-item>
        <ion-item-options (ionSwipe)="delete(slidingItem, item)">
          <ion-item-option color="danger" (click)="delete(slidingItem, item)">
            <ion-icon slot="icon-only" color='light'  name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

</ion-content>
