// http://ionicframework.com/docs/theming/

@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.activitySelect{
  .sc-ion-alert-ios{
    font-weight: normal;
  }

  .alert-button{
    margin: 0 auto !important;
  }

  .alert-head{
    text-align: center !important;
  }

}

.alert-button{
  color: #2EAC46 !important;
}