.timerHolder{
  padding: 20px 0;
  font-size: 26px;
  .timerNumbers{
    font-size: 56px;
  }
}

.extraInfo{
  margin-top: 20px;
}

.customItem{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(71, 71, 71, 0.5);
  background-color: #efebe8;
}

.trackerButton{
  font-size: 40px;
}

.item-interactive-disabled{
  color: #000000 !important;
  opacity: 1;
}

.item-interactive-disabled.sc-ion-label-ios-h, .item-interactive-disabled .sc-ion-label-ios-h{
  opacity: 1;
}

.currentActivity{
  font-size: 24px;
  font-weight: bold;
  height: 94px;
}

.mainSelection{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 26px;
}

.imageItem{
  text-align: center;
  img{
    width: 65%;
    margin: 0 auto;
  }
}

$primary: #22AEE3;

.selectedImage{
  img{
    border: 5px solid $primary;
    -webkit-border-radius: 50%;
    padding: 5px;
  }
}

.stopButton{
  position: absolute;
  right: 30px;
  top: 40px;

}