<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Track activity
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding-horizontal>

    <div>
        <div *ngIf="!workoutStarted" text-center class="mainSelection">
            Select sport activity
        </div>
        <div *ngIf="workoutStarted" text-center class="mainSelection">
            <span *ngIf="type == 1">Running</span>
            <span *ngIf="type == 2">Cycling</span>
        </div>

        <ion-row>
            <ion-col class="imageItem" (click)="selectType(1)" [ngClass]="{'selectedImage': type == 1}">
                <img src="assets/img/running.png">
            </ion-col>
            <ion-col class="imageItem" (click)="selectType(2)" [ngClass]="{'selectedImage': type == 2}">
                <img src="assets/img/cycling.png">
            </ion-col>
        </ion-row>

    </div>

    <div text-center class="timerHolder">
        <div class="theTimer customItem">
            <div class="timerNumbers">
                {{timer.hours | number:'1.0-0'}}:{{timer.minutes | number:'2.0-0'}}:{{timer.seconds | number:'2.0-0'}}
            </div>
        </div>
        <div text-center class="extraInfo customItem">
            <ion-row no-padding>
                <ion-col>
                    Distance
                </ion-col>
                <ion-col size="1"></ion-col>
                <ion-col>
                    Average
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col>
                    {{distance | number:'1.1-1'}} km
                </ion-col>
                <ion-col size="1"></ion-col>
                <ion-col>
                    {{average | number:'1.1-1'}} km/h
                </ion-col>
            </ion-row>
        </div>
    </div>

    <div text-center>

        <div *ngIf="!workoutStarted">
            <ion-button class="trackerButton"  color="success" (click)="startTimer()"
                        size="large"><ion-icon name="play"></ion-icon></ion-button>
        </div>
        <div style="position: relative">
            <div *ngIf="workoutStarted">
                <ion-button class="trackerButton"  [color]="buttonColor" size="large" (click)="pauseTimer()">
                    <ion-icon *ngIf="timerStarted" name="pause"></ion-icon>
                    <ion-icon *ngIf="!timerStarted" name="play"></ion-icon>
                </ion-button>
            </div>
            <div *ngIf="workoutStarted && !timerStarted" class="stopButton">
                <ion-button  color="danger" (click)="stopTimer()"
                ><ion-icon name="square"></ion-icon></ion-button>
            </div>
        </div>

    </div>

</ion-content>
